@import url('https://fonts.googleapis.com/css?family=PT+Sans&display=swap');

@font-face {
  font-family: 'PT Serif';
  src: url('../fonts/PTSerif-Regular.woff2') format('woff2'), url('../fonts/PTSerif-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

