/* ----- VARS ----- */

$black: #000;
$white: #fff;
$gray: #ccc;
$red: #f00;
$green: #0f0;

$font-sans: 'PT Sans', sans-serif;
$font-serif: 'PT Serif', serif;

$light: 300;
$reg: 400;
$med: 500;
$semi: 600;
$bold: 700;

$transition: cubic-bezier(0.77, 0, 0.175, 1);

