/* ----- VARS ----- */

$black: #000;
$white: #fff;
$gray: #ccc;
$blue: #0093cf;

$font-sans: Helvetica, Arial, sans-serif;
$font-serif: 'Times New Roman', Times, serif;

$light: 300;
$reg: 400;
$bold: 700;

$transition: cubic-bezier(0.77, 0, 0.175, 1);