@import 'vars';
@import 'mixins';
@import 'reset';
@import 'fonts';
@import 'loader';

html, body {
  width: 100%;
  min-height: 100vh;
  color: $black;
  background: $white;
}

body {
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
  -moz-osx-font-smoothing: grayscale;
  font-family: $font-sans;
  font-size: 18px;
  line-height: 22px;
  font-weight: $reg;
  padding-top: 1px;
  margin-top: -1px;

  &.fixed {
    position: fixed;
    top: 0;
    overflow: hidden;
  }
}

textarea, select, input, button, video {
  outline: none;
}

// clearfix...
.group:after {
  content: "";
  display: table;
  clear: both;
}

.center-x {
  position: absolute;
  left: 50%;
  @include transform(translateX(-50%));
}

.center-y {
  position: absolute;
  top: 50%;
  @include transform(translateY(-50%));
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  @include transform(translate(-50%, -50%));
}

.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.half, .quarter, .three-quarters, .third, .two-thirds {
  float: left;
}

.half {
  width: 50%;
}

.quarter {
  width: 25%;
}

.three-quarters {
  width: 75%;
}

.third {
  width: 33.333%;
}

.two-thirds {
  width: 66.666%;
}

.nobr {
  white-space: nowrap;
}

.forcebr {
  word-wrap: break-word;
}

.no-text {
  display: block;
  text-indent: -999em;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

button, .button {
  @extend .no-select;
  display: inline-block;
  color: $black;
  background: $green;
  font-family: $font-sans;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
  height: 50px;
  line-height: 50px;
  padding: 3px 15px 0 15px;
  margin: 10px auto;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  min-width: 120px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  &.is-disabled {
    background: $gray;
    cursor: default;

    &:hover {
      background: $gray;
    }
  }

  &:hover {
    text-decoration: none;
    background: darken($green, 10%);
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-serif;
  font-weight: $bold;
}

strong {
  font-weight: $bold;
}

a {
  color: $red;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

/* Chrome/Opera/Safari */
::-webkit-input-placeholder {
  color: $gray;
}

/* Firefox 19+ */
::-moz-placeholder {
  color: $gray;
}

/* IE 10+ */
:-ms-input-placeholder {
  color: $gray;
}

/* Firefox 18- */
:-moz-placeholder {
  color: $gray;
}





/* ----- MESSAGE ----- */

#message {
  position: fixed;
  left: 0;
  right: 0;
  top: -100px;
  background-color: $red;
  color: $white;
  font-size: 16px;
  text-align: center;
  padding: 40px;
  transition: top 250ms ease-in-out;
  cursor: pointer;
  z-index: 1010;

  &.is-active {
    top: 0;
  }

  &.error {
    background-color: $red;
  }

}



/* ----- HEADER ----- */

header {
  position: relative;
  background-color: $gray;
  margin-bottom: 20px;
  padding: 20px 0;
  
  h1 {
    @extend .center-y;
  }
  
  nav {
    text-align: center;
    
    a {
      padding: 10px;
    }
    
    &.is-active {
      display: block;
    }
  }
}




/* ----- MOBILE MENU BUTTON ----- */

#btn-menu {
  display: none;
  position: absolute;
  width: 40px;
  height: 40px;
  top: 0;
  right: 0;
  cursor: pointer;
  z-index: 100;
  @include transform(rotate(0));
    
  span {
    display: block;
    position: absolute;
    height: 3px;
    width: 28px;
    background: $black;
    border-radius: 9px;
    left: 6px;
    @include transform(rotate(0));
    transition: 75ms ease-in-out;

    &:nth-child(1) {
      top: 10px;
    }

    &:nth-child(2), &:nth-child(3) {
      top: 19px;
    }

    &:nth-child(4) {
      top: 28px;
    }
  }

  &.is-active {
    span:nth-child(1), span:nth-child(4) {
      top: 19px;
      width: 0%;
      left: 50%;
    }

    span:nth-child(2) {
        @include transform(rotate(45deg));
    }

    span:nth-child(3) {
      @include transform(rotate(-45deg));
    }
  }
}





/* ----- MAIN ----- */

#page {

}

.frame {
  position: relative;
  max-width: 1360px;
  margin: 0 auto;
  padding: 0 20px;
}





/* ----- SHARE ----- */

#share {
  margin: 40px auto;

  div {
    cursor: pointer;
    color: $red;
  }
}





/* ----- FOOTER ----- */

footer {
  font-size: 12px;
  padding: 20px 0;
}







/* ----- MEDIA QUERIES ----- */

@media screen and (max-width: 768px) {
  header {
    nav {
      display: none;
      position: absolute;
      top: 20px;
      left: 0;
      width: calc(100% - 40px);
      background: $gray;
      text-align: left;
      padding: 0 20px;
      z-index: 100;
      
      &.is-active {
        display: block;
      }
      
      a {
        display: inline-block;
        width: 100%;
        padding: 0;
        line-height: 30px;
        height: 30px;
      }
    }
  }
  
  #btn-menu {
    display: block;
  }
}





@media screen and (max-width: 480px) {

}


